<div class="" style="height: 90%;">
	<!-- <div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger> -->
		<!-- <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
		<span class="menutoggle">
		<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
		<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
	</span>
</a> -->

<div class="fr">
	<!-- <h2>{{menuTitles[menuId].name}}</h2> -->
</div>
<span class="bg-fade"></span>
<div class="jumbotron" style="height: 100%;">
	<div class="container" style="height: 100%;width: 90%;display: flex;flex-direction: column;">
		<div class="progress progress-striped active" style="margin-top: auto;">
				<div class="progress-bar" style="width: 36%;"></div>
		</div>
</div>
</div>
	</div>
